# Node modules
node_modules/

# Expo & Metro bundler
.expo/
.expo-shared/
*.expo

# Logs & debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production
.env.development

# Firebase
.firebase/
.firebaserc

# Functions
functions/node_modules/
functions/.env
